/* ext.SpoilerSpan.css */
.spoiler-span {
    background-color: gray;
    color: transparent;
    border-radius: 3px;
}
.spoiler-span * {
    color: transparent !important;
    background-color: gray !important;
}
.spoiler-span a {
    pointer-events: none;
}
.spoiler-span:hover {
    cursor: pointer;
}